body{
      text-align: center;
}

#board{
      width: 400px;
      height: 400px;
      background: #cdc1b5;
      border: solid 6px #bbada0;
      margin: 0  auto;
      display: flex;
      flex-wrap: wrap;
}

.tile{
      width: 90px;
      height: 90px;
      border: solid 5px #bbada0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-weight: bold;
}

.sprite-2{
      background: #eee4da;
      color: #727371;
}

.sprite-4{
      background: #00001a;
      color: #f5f5f5;
}

.sprite-8{
      background: #ffa060;
      color: #f5f5f5;
}

.sprite-16{
      background: #88cada;
      color: #333;
}

.sprite-32{
      background: #feb800;
      color: #333;
}

.sprite-64{
      background: #960932;
      color: #f5f5f5;
}

.sprite-128{
      background: #9fa309;
      color: #333;
}

.sprite-256{
      background: #d13870;
      color: #f5f5f5;
}

.sprite-512{
      background: #807edf;
      color: #f5f5f5;
}

.sprite-1024{
      background: #ffb951;
      color: #0e0909;
}

.sprite-2048{
      background: #ed1d7d;
      color: #0e0909;;
}

.sprite-4096{
      background: #57ed1c;
      color: #0e0909;;
}

.sprite-8192{
      background: #4a4584;
      color: #f5f5f5;
}
